@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:wght@400;500;600;800;900&display=swap');

:root {
    --black: black;
    --white: #ffffff;
    --red: #EB0000;
    --blackgray: #161515;
    --font-family: poppins-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    /* color: var(--white); */
    font-size: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--black);
    color: var(--white); */
    font-family: 'deltasanslight';
    position: relative;
}


/* ========== create default class ========== */
.logo_customize {
    width: 200px;
    height: 52px;
}

.mb_50 {
    margin-bottom: 50px;
}

.py_100 {
    padding: 100px 0;
}

.padding_0 {
    padding: 0;
}

.custom__h3 {
    font-family: 'deltasanslight';
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
}

.testing_div {
    display: none;
    margin-top: 95px;
}

.testing_div ul {
    background-color: #0095ff;
}

.showElement {
    display: block;
}

/* ==========================
Responsive menu section start 
============================= */

.responsive__menu__section {
    padding: 20px 0;
}

.res__menu__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res_mnu_lft {}

.res_mnu_lft img {
    height: 50px;
    width: 145px;
}

.res_mnu_rght {}

.responsive__menu__section {
    display: none;
}


/* ==========================
 Responsive menu section end 
 ============================ */

/* ============== header section start ============= */
#headerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000000;
    background-color: #fff;
}

.header__Section {
    border-bottom: 6px solid blue;
    position: relative;
}

.header__Section::before {
    content: "";
    position: absolute;
    width: 37%;
    height: 6px;
    background-color: #00d9ff;
    right: 0;
    bottom: -5px;
    z-index: 100;
}

.header__Section::after {
    content: "";
    position: absolute;
    width: 17%;
    height: 6px;
    background-color: #38b549;
    right: 0;
    bottom: -5px;
    z-index: 101;
}


.navbar-nav .nav-link {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
    color: #00000080;
}

.navbar-nav .nav-link:hover {
    color: #38b549
}



.navbar-nav li:nth-child(1),
.navbar-nav li:nth-child(2),
.navbar-nav li:nth-child(3),
.navbar-nav li:nth-child(4),
.navbar-nav li:nth-child(5),
.navbar-nav li:nth-child(6),
.navbar-nav li:nth-child(7) {
    position: relative;
}

.navbar-nav li:nth-child(1) ul,
.navbar-nav li:nth-child(2) ul,
.navbar-nav li:nth-child(3) ul,
.navbar-nav li:nth-child(4) ul,
.navbar-nav li:nth-child(5) ul,
.navbar-nav li:nth-child(6) ul,
.navbar-nav li:nth-child(7) ul {
    position: absolute;
    background: #f7f7f7;
    padding: 0;
    padding: 20px 10px;
    display: none;
    padding-right: 0;
    width: 250px;
    z-index: 1000;
}

.navbar-nav li:nth-child(1):hover>ul,
.navbar-nav li:nth-child(2):hover>ul,
.navbar-nav li:nth-child(3):hover>ul,
.navbar-nav li:nth-child(4):hover>ul,
.navbar-nav li:nth-child(5):hover>ul,
.navbar-nav li:nth-child(6):hover>ul,
.navbar-nav li:nth-child(7):hover>ul {
    display: block;
}


.dropdown-toggle::after {
    content: "";
    display: none;
}


.navbar-nav li:nth-child(1) .hover__div,
.navbar-nav li:nth-child(2) .hover__div,
.navbar-nav li:nth-child(3) .hover__div,
.navbar-nav li:nth-child(4) .hover__div,
.navbar-nav li:nth-child(5) .hover__div,
.navbar-nav li:nth-child(6) .hover__div,
.navbar-nav li:nth-child(7) .hover__div,
.navbar-nav li:nth-child(8) .hover__div {
    width: 100%;
    height: 5px;
    background-color: #0087dc;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.navbar-nav li:nth-child(1):hover>.hover__div,
.navbar-nav li:nth-child(2):hover>.hover__div,
.navbar-nav li:nth-child(3):hover>.hover__div,
.navbar-nav li:nth-child(4):hover>.hover__div,
.navbar-nav li:nth-child(5):hover>.hover__div,
.navbar-nav li:nth-child(6):hover>.hover__div,
.navbar-nav li:nth-child(7):hover>.hover__div,
.navbar-nav li:nth-child(8):hover>.hover__div {
    display: block;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: inherit !important;
    color: #38b549;
}

.sub_dropdown_item {
    position: relative;
}

.sub__dropdown {
    background-color: aquamarine;
    top: 0px;
    right: -228px;
    width: 100%;
    position: absolute;
}


.dropdown-item {
    white-space: inherit !important;
    font-weight: lighter;
    color: #7e7d7d;
    font-size: 15px;
}


.navber__contact__section {
    text-align: right;
}

.navber__contact__section ul {
    display: flex;
    justify-content: end;
    gap: 32px;
    margin-bottom: 0;
}


.navber__contact__section ul li a {
    color: #6e6e6e;
    font-size: 17px;
    font-weight: lighter;
    display: inline-block;
}

.navber__contact__section ul li a:hover {
    color: #38b549;
    font-size: 17px;
    font-weight: lighter;
    display: inline-block;
}


.navber__contact__section ul li:nth-child(3) {
    position: relative;
}

.navber__country__section {
    background-color: #ebeaea;
    position: absolute;
    top: 22px;
    left: 0;
    width: 217px;
    height: fit-content;
    z-index: 9999999;
    display: none;
}

.navber__country__section ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    /* justify-content: start; */
    text-align: left;
}

.navber__country__section ul li {
    width: 100%;
    display: block;
}

.navber__country__section ul li a {
    display: block;
    width: 100%;
    font-size: 14px;

}

.navber__country__section ul li a:hover {
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: white;
}

.navber__contact__section ul li:nth-child(3):hover>.navber__country__section {
    display: block;
}


/* ============ slider__section =========== */
.slider__section {
    margin-top: 89px;
}

.swiper {
    height: fit-content
}


/* ============== about__delta__section start ============== */
.about__delta__section {
    padding: 90px 0;
}

.about__delta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about__delta p {
    margin-top: 130px;
    color: gray;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'deltasanslight';
}

.about__delta a {
    display: inline-block;
    background-color: #0297ea;
    color: #d4d4d4;
    padding: 10px 15px;
}

.about__delta a:hover {
    background-color: #6b6b6b;
    color: #ffffff;
}

.about__delta__section {
    position: relative;
}

.about__delta__section::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #38b549;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* ============= delta solution ============= */
.delta__solution__Section {
    margin: 100px 0;
    margin-bottom: 0;
}


.delta__solution_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.delta__solution_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}




/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
.parent {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #cccccc;
}

.parent img {
    width: 100px;
    height: 100px;
}

.child {
    color: white;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.parent:hover .child {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-100%);
}

.child__divider {
    width: 100px;
    height: 5px;
    background-color: #fff;
}

a.child__more__btn {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 25px;
    color: #fff;
}

.delta__solution_top>.parent:nth-child(1) {
    background-image: url(../images/solution-1.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;

}

.delta__solution_top>.parent:nth-child(2) {
    background-image: url(../images/solution-2.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;

}

.delta__solution_top>.parent:nth-child(3) {
    background-image: url(../images/solution-3.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;

}

.delta__solution_bottom>.parent:nth-child(1) {
    background-image: url(../images/solution-4.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}

.delta__solution_bottom>.parent:nth-child(2) {
    background-image: url(../images/solution-5.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}

.delta__solution_bottom>.parent:nth-child(3) {
    background-image: url(../images/solution-6.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}

.delta__solution_bottom>.parent:nth-child(4) {
    background-image: url(../images/solution-7.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
}


/* ============ common section start ============= */
.common__section__start {
    margin-bottom: 50px;
}

.common__section {
    position: relative;
}

.common__section h1 {
    text-align: center;
    font-family: 'deltasanslight';
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
    padding-bottom: 30px;
}

.common__section::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #38b549;
}

/* ============== delta products section slider =============== */
.delta__product__section_cmn {
    background-color: #d9d8d8;
}

.mySwiper2 {
    height: fit-content;
    padding-bottom: 40px;
    padding: 0 29px 40px 29px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0 !important;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0 !important;
    left: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: gray;
    font-size: 40px;
    font-weight: bolder;
}

.product {
    border: 1px solid rgb(255 255 255);
    box-shadow: 0 0 5px lightgrey;
    background-color: #fff;
}

.product img {
    border-bottom: 1px solid rgb(53, 53, 53);
}

.product__details {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.product__details a {
    font-family: 'deltasanslight';
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
    padding-bottom: 30px;

}

.product__details a:hover {
    color: #38b549;
}


/* =============== investor relations section start ================= */
.investor__relation {
    display: flex;
    padding: 100px 0;
    background-image: url(../images/bg-ir-contact.jpg);
    background-color: #f7f7f7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.investor__relation__lft {
    width: 50%;
    padding-right: 30px;
    border-right: 1px solid #d0d0d0;
}

.investor__relations__lft__top {
    position: relative;
}

.investor__relations__lft__top h3 {
    /* position: absolute; */
    font-family: 'deltasanslight';
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
    top: -15px;
    left: 5px;
}


/* ------------ investor__relations__lft__bottom ----------- */
.investor__relations__lft__bottom {
    padding-top: 85px;
    position: relative;
}

.investor__relations__lft__bottom h3 {
    position: absolute;
    top: 45px;
    left: -2px;
    font-family: 'deltasanslight';
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
}

.ir-activities {
    padding: 11px;
    border-bottom: 1px #707070 solid;
}

.dis-ir-index {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 150px; */
}

.icn-load.tbl {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
}

.anchor_clr {
    color: gray;
}


/* -------------- investor__relation__rght -------------- */
.investor__relation__rght {
    padding-left: 15px;
}

.investor__relation__rght__top {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
}

.finance-box:hover .card {
    border-color: #38b549;
}

.product-cat-box .card {
    padding: 1.25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.finance-box a {
    text-decoration: none;
    color: #666;
}

.product-cat-box a {
    color: #666 !important;
}

.position-relative {
    position: relative !important;
}

.icn-load.tbl {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
}

.finance-box .card-title span {
    font-family: 'deltasanslight';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.float-right {
    float: right !important;
}

.investor__relation__rght__top__lft>.card,
.investor__relation__rght__top__mdl>.card {
    padding: 1.25rem;
}

.investor__relation__rght__top__lft>.card a:nth-child(2),
.investor__relation__rght__top__mdl>.card a:nth-child(2) {
    color: gray;
}

.investor__relation__rght__top__lft>.card a:nth-child(2):hover,
.investor__relation__rght__top__mdl>.card a:nth-child(2):hover {
    color: #38b549
}


.investor__relation__rght__top__lft h3,
.investor__relation__rght__top__mdl h3 {
    font-family: 'deltasanslight';
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    color: #00afef;
}


.investor__relation__rght__top__rght ul li a {
    font-size: 20px;
    color: #38b549;
}

.investor__relation__rght__bottom {
    margin-top: 100px;
    display: flex;
    gap: 50px;

}

.investor__relation_rght__bottom__rght a {
    color: #38b549;
    font-size: 25px;
}

.text-opportunity-2>a {
    color: gray;
}

.text-opportunity-3>a {
    color: gray;
}

.investor__relation_rght__bottom__rght {
    padding-top: 20px;
}

.anual__report {
    background-color: gray;
    padding: 20px;
}

.table__body {
    background: #cfcfcf;
    display: inline-block;
    padding: 0px 23px 20px 20px;
    border-radius: 14px;
}

/* ============= News & Blog section ============== */
.news__and__blog__section {
    background-image: url(../images/bg-index-news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.news__and__blog__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.news__and__blog__item {
    position: relative;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.news__and__blog__item .news__category {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0297ea;
    color: white;
    display: inline-block;
    padding: 10px 25px;
}

.news__blog__content {
    padding: 20px;
}

.news__and__blog__item .news__blog__content h5 {
    color: #38b549;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 15px;
    height: 65px;
    overflow: hidden;
    width: 100%;
}

.news__and__blog__item .news__blog__content h5:hover {
    color: #00afef;
}

.news__and__blog__item .news__blog__content p {
    text-align: justify;
}

.blog__published__time {
    display: flex;
    gap: 10px;
}

.news__nd__blog__item {
    color: gray;
    transition: all 0.3s ease;
}

.news__nd__blog__item:hover {
    color: gray;
    box-shadow: 0 0 5px gray;
}

.blog__section__seemore {
    padding: 50px 0;
    padding-bottom: 0;
    text-align: center;
}

.blog__section__seemore a {
    background-color: #00afef;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
}

/* ============= contact us section start ============== */
.contact__us__section {
    background-color: #e2e2e2;
    padding: 100px 0 40px 0;
}

.contact__us {
    display: flex;
    align-items: center;
}

.contact__us__lft {
    width: 50%;
}

.contact__us__lft h3 {
    color: #0297ea;
    font-weight: bold;
    font-size: 19px;
    font-family: arial;
}

.contact__us__lft p {
    font-size: 19px;
    color: gray;
    font-weight: inherit;
}

.contact__us__lft .contact__input {
    width: calc(100% - 25%);
    border: 2px solid #00d9ff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact__us__lft .social__media__wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.contact__us__lft .social__media__wrap span {
    font-size: 17px;
    color: gray;
    font-weight: bold;
    font-family: arial;
}

.contact__input span:nth-child(1) {
    font-size: 17px;
    color: gray;
}

.contact__input span:nth-child(2) {
    background-color: #00abff;
    color: white;
    padding: 7px 45px;
}


.contact__us__lft .social__media__wrap .social_icon ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    gap: 5px;
}


.contact__us__rght {
    width: 50%;
}

.social__icon_size {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
}

.send__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    position: relative;
    z-index: 99999;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #00d9ff;
    padding: 29px;
}




.send__message a {
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
    color: #0095ff;

}

.send__message a:hover {
    text-decoration: underline;
}

.contact__us__rght a {
    cursor: pointer;
}


/* ============== before footer section ============ */
.before__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    gap: 10px;
    padding: 100px 0;
}


.before__footer__item ul li {
    padding: 0 5px;
}

.before__footer__item ul li:nth-child(1) {
    border-left: 2px solid #38b549;
    margin-bottom: 10px;

}

.before__footer__item ul li.delta__ftr__lst {
    border-left: 2px solid #38b549;
    margin-bottom: 10px;

}

.before__footer__item ul li a {
    color: gray;
    font-size: 16px;
}

.before__footer__item ul li a:hover {
    color: #38b549;
    font-size: 16px;
}


/* ============== footer section ============== */
.footer__Section {
    background-color: #1e2125;
    padding: 20px 0;
}

.footer_section_wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ftr__lft p {
    color: gray;
    font-family: arial;
    margin-bottom: 0;
}


.ftr__right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}

.ftr__right ul li:nth-child(1) {
    border-right: 2px solid gray;
    padding-right: 10px;
}

.ftr__right ul li a {
    color: gray;
    font-weight: bold;
    font-family: arial;
}

.ftr__right ul li a:hover {
    color: #4d4c4c;
}

/* ============= Responsive media query css ============== */

@media (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }

}

@media (max-width: 991px) {
    #headerSection {
        display: none;
    }

    .delta__solution_top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3px;
    }

    .delta__solution_bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3px;
    }

    .investor__relation__rght__top {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        gap: 10px;
        grid: none;
    }

    .investor__relation__rght__bottom {
        margin-top: 100px;
        display: flex;
        gap: 50px;
        flex-direction: column;

    }

    .investor__relation {
        flex-direction: column;
    }

    .investor__relation__lft {
        width: 100%;
        padding-right: 30px;
        border-right: 0px solid #d0d0d0;
    }

    .news__and__blog__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .contact__us {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .contact__us__lft {
        width: 100%;
    }

    .before__footer__section {
        display: none;
    }

    .slider__section {
        margin-top: 100px;
    }

    .responsive__menu__section {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999999;
        background-color: white;
        border-bottom: 4px solid blue;
    }
}

@media (max-width: 768px) {
    .contact__us__rght {
        width: 100%;
    }

    .send__message {
        width: 100%;
    }

    .about__delta__section::after {
        content: "";
        width: 100px;
        height: 5px;
        background-color: #38b549;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

@media (max-width: 576px) {

    .news__and__blog__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contact__us__rght {
        width: 100%;
    }

    .send__message {
        width: 100%;
    }

    .about__delta__section::after {
        content: "";
        width: 100px;
        height: 5px;
        background-color: #38b549;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 446px) {
    .contact__us__lft .contact__input {
        width: calc(100% - 8%);
        border: 2px solid #00d9ff;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}